<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<h:outputStylesheet name="common.css" library="css" />
	<title>Login</title>
</h:head>

<h:body>
	<f:view>
		<h:form>
			<div id="header">
				<h:outputText value="Login" />
			</div>
			<div id="content">
				<h:panelGrid columns="2" style="text-align: center;">
					<rich:column>
						<h:outputText value="Login ID: " />
					</rich:column>
					<rich:column>
						<h:inputText value="#{mView.uName}" />
					</rich:column>

					<rich:column>
						<h:outputText value="Password: " />
					</rich:column>
					<rich:column>
						<h:inputSecret value="#{mView.uPass}" />
					</rich:column>

					<rich:column></rich:column>
					<rich:column>
						<h:commandButton value="Login" render="@all"
							action="#{mView.checkValidUser}" />
					</rich:column>
				</h:panelGrid>
			</div>
		</h:form>
		<h:form>
			<div id="header">
				<h:outputText value="Register" />
			</div>
			<div id="content">
				<h:panelGrid columns="2" style="text-align: center;">
					<rich:column>
						<h:outputText value="Login ID: " />
					</rich:column>
					<rich:column>
						<h:inputText value="#{mView.uName}" />
					</rich:column>

					<rich:column>
						<h:outputText value="E-mail: " />
					</rich:column>
					<rich:column>
						<h:inputText value="#{mView.uMail}" />
					</rich:column>

					<rich:column>
						<h:outputText value="Password: " />
					</rich:column>
					<rich:column>
						<h:inputSecret value="#{mView.uPass}" />
					</rich:column>

					<rich:column></rich:column>
					<rich:column>
						<h:commandButton value="Register" render="@all"
							action="#{mView.saveUser}" />
					</rich:column>
				</h:panelGrid>
			</div>
		</h:form>
		<h:form>
			<div id="header">
				<h:outputText value="Evaluate" />
			</div>
			<div id="content">
				<h:panelGrid columns="2" style="text-align: center;">
					<rich:column>
						<h:outputText value="E-mail: " />
					</rich:column>
					<rich:column>
						<h:inputText value="#{mView.uMail}" />
					</rich:column>

					<rich:column></rich:column>
					<rich:column>
						<h:commandButton value="Try" render="@all"
							action="#{mView.tryUser}" />
					</rich:column>
				</h:panelGrid>
			</div>
		</h:form>
		<div id="message">
			<h:panelGroup id="messagePanel">
				<h:messages errorStyle="color: red" infoStyle="color: green"
					layout="table" />
			</h:panelGroup>
		</div>
	</f:view>
</h:body>
</html>
