<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<h:outputStylesheet name="common.css" library="css" />
	<title><h:outputText value="#{mView.title}" /></title>
</h:head>

<h:body>
	<f:view>
		<div id="page">
			<div id="header">
				<h:panelGrid id="titlePanel" columns="2" columnClasses="fleft,fright">
					<rich:column width="80%;">
						<h:outputText value="#{mView.title}" />
					</rich:column>
					<rich:column width="20%;">
						<rich:progressBar value="#{mView.progress}" enabled="true"
							minValue="0" maxValue="100">
							<h:outputText value="#{mView.progress} %" />
						</rich:progressBar>
					</rich:column>
				</h:panelGrid>
			</div>
			<h:form id="form">
				<div id="content">
					<h:panelGroup id="headPanel" layout="block" styleClass="title">
						<h:outputText value="#{mView.page.name}" />
					</h:panelGroup>
					<rich:dataTable id="table" value="#{mView.visibleQuestions}"
						var="q">

						<rich:column breakRowBefore="true" rendered="#{q.blabel == 1}"
							styleClass="sline" colspan="3">
						</rich:column>

						<rich:column breakRowBefore="#{q.blabel == 1}" styleClass="slabel"
							rendered="#{q.label.length() > 0}">
							<h:outputText value="#{q.name} " />
							<h:outputText value=" #{q.label}" title="#{q.hint}"
								rendered="#{!(q.radio || q.button)}" />
							<h:selectOneRadio value="#{q.answer.value}" title="#{q.hint}"
								layout="pageDirection" rendered="#{q.radio}">
								<f:selectItems value="#{mView.getRadio(q.label)}" />
								<f:ajax listener="#{mView.adjustQuest}" render="@all" />
							</h:selectOneRadio>
						</rich:column>

						<rich:column breakRowBefore="#{q.banswer == 1}"
							styleClass="svalue">
							<h:outputText value="#{q.answer.value}" rendered="#{q.output}" />
							<h:selectOneMenu value="#{q.answer.value}" title="#{q.hint}"
								 style="width:200px;" rendered="#{q.combo}">
								<f:selectItems value="#{mView.getItems(q.fillMethod)}" />
								<f:ajax listener="#{mView.adjustQuest}" render="@all" />
							</h:selectOneMenu>
							<h:selectBooleanCheckbox value="#{q.answer.value}"
								title="#{q.hint}" rendered="#{q.check}">
								<f:ajax listener="#{mView.adjustQuest}" render="@all" />
							</h:selectBooleanCheckbox>
							<h:inputText value="#{q.answer.value}" title="#{q.hint}" size="6"
								rendered="#{q.text}">
								<f:ajax listener="#{mView.adjustQuest}" render="@all" />
							</h:inputText>
							<h:commandButton value="#{q.label}" title="#{q.hint}"
								 style="width:20px;" rendered="#{q.button}" action="#{mView.getMethod(q.fillMethod)}">
								<f:ajax listener="#{mView.adjustQuest}" render="@all" />
							</h:commandButton>
						</rich:column>

					</rich:dataTable>
					<div id="footer">
						<h:panelGroup id="actionPanel" layout="block">
							<h:commandButton id="prev" value="Back" style="float:left;"
								disabled="#{mView.page.prevPage == 0}" render="@all"
								actionListener="#{mView.prevPage()}">
							</h:commandButton>
							<h:outputLabel style="padding: 2px;"
								value=" #{mView.currPage} / #{mView.lastPage-1} " />
							<h:commandButton id="next" value="Continue" style="float:right;"
								disabled="#{mView.page.nextPage == mView.lastPage}"
								render="@all" actionListener="#{mView.nextPage()}">
							</h:commandButton>
						</h:panelGroup>
					</div>
				</div>
				<div id="message">
					<h:panelGroup id="messagePanel">
						<h:messages errorStyle="color: red" infoStyle="color: green"
							layout="table" />
					</h:panelGroup>
				</div>
			</h:form>
		</div>
	</f:view>
</h:body>
</html>