#page {
	width: 700px;
	margin: 0 auto;
}

#header {
	width: 700px;
	border: 1px solid #00f;
	margin-bottom: 5px;
	/*	text-align: center; */
	font-family: Verdana;
	font-size: 10;
	background-color: #c0c0ff;
	color: #1010ff;
}

#content {
	width: 700px;
	margin-right: 0px;
	margin-bottom: 5px;
	border: 1px solid #00f;
	text-align: left;
	font-family: Verdana;
	font-size: 10px;
	background-color: #e0e0ff;
	color: #000;
}

#footer {
	width: 100%;
	text-align: center;
	vertical-align: bottom;
	font-family: Verdana;
	font-size: 10px;
	background-color: #e0e0ff;
	color: #2020ff;
	height: 25px;
	padding: 2;
}

.title {
	border-bottom: 1px solid #00f;
	padding: 5px;
	text-align: left;
	font-family: Verdana;
	font-size: 14px;
	background-color: #c0c0ff;
	color: #1010ff;
}

.sname {
	width: 20px;
	text-align: left;
	vertical-align: top;
	font-family: Verdana;
	font-size: 12px;
	color: #1010ff;
}

.slabel {
	width: 100%;
	text-align: left;
	vertical-align: top;
	font-family: Verdana;
	font-size: 12px;
	color: #1010ff;
	background-color: #e0e0ff;
	border: 0;
	padding: 2;
}

.svalue {
	width: 100%;
	text-align: left;
	vertical-align: top;
	font-family: Verdana;
	font-size: 10px;
	background-color: #e0e0ff;
	padding: 2;
}

.sline {
	width: 100%;
	height: 1px;
	background-color: #e0e0ff;
	border-bottom: 1px solid #00f;
	padding: 0;
	margin: 0;
}

#message {
	width: 100%;
	text-align: left;
	vertical-align: top;
	font-family: Verdana;
	font-size: 10px;
	white-space: nowrap;
}

.rf-pb-lbl {
	text-align: center;
	font-family: Verdana;
	font-size: 10px;
}

.rf-pb-prgs {
	background-color: #f00;
	border-color: #000;
}

.fleft {
	float: left;
	vertical-align: middle;
}

.fright {
	float: right;
	vertical-align: middle;
}