<!-- template.xhtml -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<h:outputStylesheet name="common.css" library="css" />
	<title><h:outputText value="#{mView.title}" /></title>
</h:head>

<h:body>
	<f:view>
		<div id="page">
			<div id="header">
				<h:panelGrid id="titlePanel" columns="2"
					columnClasses="text-align:left,text-align:right">
					<h:column>
					<h:outputText value="#{mView.title}" />
					</h:column>
					<h:column>
					<rich:progressBar value="#{mView.progress}"
						interval="2000" label="#{mView.progress} %"
						enabled="true" minValue="0" maxValue="100"
						reRenderAfterComplete="titlePanel" />
						</h:column>
				</h:panelGrid>
			</div>
			<h:form id="form">
				<div id="content">
					<h:panelGroup id="messagePanel" layout="block">
						<h:messages errorStyle="color: red" infoStyle="color: green"
							layout="table" />
					</h:panelGroup>
					<h:panelGroup id="contentPanel" layout="block">
						<ui:insert name="content" />
					</h:panelGroup>
				</div>
				<div id="footer">
					<h:panelGroup id="actionPanel" layout="block">
						<h:commandButton id="prev" value="Prev"
							render="@all" action="prevPage"
							actionListener="#{mView.prevPage()}">
							<!-- <f:ajax execute="prev" render="@all" /> -->
						</h:commandButton>
						<h:outputLabel
							value="#{mView.currPage+1} / #{mView.lastPage+1}" />
						<h:commandButton id="next" value="Next"
							 render="@all" action="nextPage"
							actionListener="#{mView.nextPage()}">
							<!-- <f:ajax execute="next" render="@all" /> -->
						</h:commandButton>
					</h:panelGroup>
				</div>
			</h:form>
		</div>
	</f:view>
</h:body>
</html>